<%- include('./partials/header') -%>

<% for(var i =0 ;i <data.length ; i++){%>

  <div class="container">
  <div class="card">
    <img style="width: 400px;" src="<%= data[i].image %>" style="width:100%">
    <h1> <%= data[i].productName %> </h1>
    <h2 ><%= data[i].price %></h2>
    <p><%= data[i].description %> </p>
    <p><a href="/orders" class="btn btn-info">Add to Cart</a></p>
  </div>
</div>
<%}%>

    <%- include('./partials/footer') -%>
